mixin link(href, name)
	a(class!=attributes.class href=href)= name

doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		)
		title #{app_name}について
		link(
			rel="stylesheet"
			href="about.css"
		)
	body
		header
			#icon
			h2 #{app_ver}&nbsp;
				script document.write(process.arch)
			#link
				+link(repository, 'リポジトリ')
				+link(repository + '/blob/master/LICENSE', 'ライセンス')
				+link(repository + '/releases/v' + app_ver, 'リリースノート')
				+link("https://twitter.com/Kagua_CJ", '作者Twitter')
		footer Copyright (c) 2018 #{author}
		script(src="about.js")
