doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		)
		title=app_name
		link(
			rel="stylesheet"
			href="main.css"
		)
		link(
			rel="stylesheet"
			href="mcs.css"
		)
	body
		form#search
			input(
				type='text'
				maxlength='2048'
				id='q'
				autocomplete='off'
				class='enable-select'
			)
			input(
				type="submit"
				value="検索"
			).button

			#lang-label
				label(for="f") 翻訳元言語
				label(for="t") 翻訳先言語

			#lang-select
				#fromLangSelect.mcs
				#toLangSelect.mcs

			fieldset#target
				legend 検索対象
				- var target = ['Google画像検索', 'Pinterest', 'Tumblr']
				each item in target
					label(tabindex="0")
						input.checkbox(
							type='checkbox'
							name='shows'
							id=item
						)
						span=item
			button(type="button")#closeResultWindows.button 検索結果を全て閉じる

			#mcs(tabindex="0")

		script require('./renderer.js')
